* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    overflow: hidden;
}

/* INTRO */
#intro {
    position: fixed;
    inset: 0;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

#intro img {
    width: 40vw;          /* EKRANA GÖRE BÜYÜR */
    max-width: 360px;     /* TAŞMASIN */
    min-width: 220px;     /* KÜÇÜK EKRANDA DA OK */
    image-rendering: pixelated;
    animation: logoFade 2.2s forwards;
}


/* SITE */
#site {
    display: none;
}

/* ANIMATION */
@keyframes logoFade {
    0% {
        opacity: 0;
        transform: scale(0.92);
    }
    18% {                       /* HIZLI GİRİŞ */
        opacity: 1;
        transform: scale(1);
    }
    70% {
        opacity: 1;
    }
    100% {                      /* YAVAŞ ÇIKIŞ */
        opacity: 0;
        transform: scale(1.03);
    }
}
