* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    overflow: hidden;
}

/* INTRO */
#intro {
    position: fixed;
    inset: 0;
    background: #000; /* TAM SİMSİYAH */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

#intro img {
    width: 140px;
    image-rendering: pixelated;
    animation: logoFade 1.8s ease forwards; /* HIZLANDIRILDI */
}

/* SITE */
#site {
    display: none;
}

/* ANIMATION */
@keyframes logoFade {
    0% {
        opacity: 0;
        transform: scale(0.97);
    }
    25% {
        opacity: 1;
        transform: scale(1);
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
