body {
  margin: 0;
  background: black;
}

#loader {
  position: fixed;
  inset: 0;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeOut 2s ease forwards;
  animation-delay: 2s;
}

#loader img {
  width: 200px;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
