/* =====================
   FONTLAR
===================== */

@font-face {
  font-family: "Bukra";
  src: url("assets/fonts/29LTBukraSmBd.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Crusoe";
  src: url("assets/fonts/CrusoeText-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Crusoe";
  src: url("assets/fonts/CrusoeText-Italic.woff") format("woff");
  font-style: italic;
}

@font-face {
  font-family: "Crusoe";
  src: url("assets/fonts/CrusoeText-Bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "Crusoe";
  src: url("assets/fonts/CrusoeText-Bold-Italic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Glacial";
  src: url("assets/fonts/GlacialIndifference-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Glacial";
  src: url("assets/fonts/GlacialIndifference-Bold.otf") format("opentype");
  font-weight: 700;
}

/* =====================
   GENEL
===================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("background.png") center/cover no-repeat fixed;
  color: white;
  font-family: "Glacial";
}

/* =====================
   BAŞLIK
===================== */

h1 {
  text-align: center;
  margin-top: 40px;
  font-family: "Bukra";
  font-size: 48px;
  color: red;
  -webkit-text-stroke: 2px darkred;
}

/* =====================
   ARKAPLAN İSKELETLER
===================== */

.skeleton {
  position: fixed;
  top: 0;
  width: 300px;
  height: 100vh;
  opacity: 0.25;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
}

.left {
  left: 0;
  background-image: url("skeleton-left.png");
}

.right {
  right: 0;
  background-image: url("skeleton-right.png");
}

/* =====================
   AÇIKLAMA
===================== */

.description {
  width: 60%;
  margin: 25px auto;
  text-align: center;
  font-size: 18px;
  font-style: italic;
}

/* =====================
   FORM
===================== */

form {
  width: 480px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 14px;
  font-family: "Crusoe";
}

input,
textarea {
  padding: 12px;
  background: black;
  border: 2px solid #111;
  color: white;
}

input:focus,
textarea:focus {
  border-color: orange;
  outline: none;
}

button {
  background: orange;
  padding: 14px;
  font-family: "Crusoe";
  font-weight: 700;
  cursor: pointer;
  border: none;
}

button:hover {
  background: black;
  color: orange;
  border: 2px solid orange;
}

/* =====================
   FOOTER
===================== */

footer {
  margin-top: 80px;
  text-align: center;
}

footer p {
  font-weight: bold;
  margin-bottom: 20px;
}

.socials img {
  width: 42px;
  margin: 0 10px;
  cursor: pointer;
}
