@font-face {
  font-family: Bukra;
  src: url("./assets/fonts/29LTBukraSmBd.woff2");
}

body {
  background: url("./assets/background.png") center / cover no-repeat fixed;
  color: white;
  font-family: Bukra;
  margin: 0;
}

.navbar {
  background: black;
  padding: 20px;
  text-align: center;
}

.banner {
  width: 420px;
}

nav a {
  margin: 0 15px;
  color: orange;
  text-decoration: none;
  font-weight: bold;
}

nav a.active {
  color: red;
}

h1 {
  text-align: center;
  margin-top: 40px;
  color: red;
}

.desc {
  text-align: center;
  max-width: 600px;
  margin: auto;
}

.contact-form {
  width: 600px;
  margin: 40px auto;
  display: grid;
  gap: 10px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  background: black;
  border: 2px solid #222;
  color: white;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: orange;
  outline: none;
}

button {
  padding: 12px;
  background: orange;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

footer {
  text-align: center;
  margin: 60px 0;
}

.icons img {
  width: 40px;
  margin: 10px;
}
